* {
    margin-inline: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* base color */
--gray-100: #E2E4E9;
--gray-200: #C0C4CE;
--gray-300: #878EA1;
--gray-400: #292C34;
--gray-500: #16181D;
--gray-600: #0D0E11;

/* textos asap*/
--h1: 700 56px/120% "asap", sans-serif;
--h2: 700 24px/120% "asap", sans-serif;
--h3: 700 16/120% "asap", sans-serif;
/* textos inconsolata */
--sub: 400 20px/120% "inconsolata", sans-serif;
/* textos maven pro */
--text-md: 400 16px/140 "maven-pro", sans-serif;
/* --text-sm: 400 14px/140 "maven-pro", sans-serif; */
}

bady {
    margin-inline: 163px;
}
