
header {
    background-image: url(/styles/assets/img/Background_Intro.png);
    background-size: cover;
    
    
    
    .profile-card {
        justify-content: center;
        position: relative;
            .profile-img {
                width: 96px ;
                border-radius: 50%;
                margin-block: 120px 56px;
                height: 87px;
                width: 87px;
                border: 2px solid #E3646E;
                padding: 4px;
            }
    }
    .textos {
        display: grid;
        justify-items: center;
        max-height: 1366px;
        padding-inline: 180px;
        span{
            color: #E3646E;
        }

        h1{
            font: var(--h1);
            padding-block: 8px 20px;
            color: var(--gray-100);
        }
        h2 {
            color: var(--gray-200);
        }
        p {
            padding-bottom: 80px;
            max-width: 680px;
            color: var(--gray-300);
        }
    
    }
    .code-nav {
        justify-content: center;
    }
    nav {
        justify-content: center;
        gap: 16px;
        padding-inline: 306px;
        grid-template-columns: repeat(6, 1fr);
        
        div {
            display: flex;
            background-color: var(--gray-400);
            background-size: contain;
            border-radius: 999px;
            align-items: center;
            gap: 8px;
            padding: 8px 16px 8px 16px;
            color: white;
            font: var(--maven-pro-md);
            max-width: 138px;
        }
    }
    .CaretDoubleDown {
        justify-content: center;
        img {
            padding-block: 87px;
        }
    }


}
