
header {
    background-image: url(/styles/assets/img/Background_Intro.png);
    background-size: cover;
    
    
    
    .avatar {
        justify-content: center;
            img {
                width: 96px ;
                border-radius: 50%;
                margin-block: 120px 56px;
                height: 87px;
                width: 87px;
            }
    }
    .textos {
        display: grid;
        justify-items: center;
        max-height: 1366px;
        color: white;
        padding-inline: 180px;
        span{
            color: red;
        }

        h1{
            font: var(--h1);
            padding-block: 8px 20px;
        }
        p {
            padding-bottom: 80px;
            max-width: 680px;
        }

    }
    nav {
        justify-content: center;
        gap: 16px;
        padding-inline: 143px;
        div {
            display: flex;
            background-color: var(--gray-400);
            border-radius: 999px;
            align-items: center;
            gap: 8px;
            padding: 8px 16px 8px 16px;
            color: white;
            font: var(--maven-pro-md);
        }
    }
    .CaretDoubleDown {
        justify-content: center;
        img {
            padding-block: 87px;
        }
    }


}
